@import '../../styles/color.scss';

.notif {
    background-color: $smoke-grey;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
    transition: all .5s ease;
    &__wrapper {
       max-width: 720px; 
       margin: 0 auto;
       padding: 0 16px;
       font-size: 14px;
       display: flex;
       align-items: center;
       p {
            padding-right: 6px;
            margin: 15px 0;
            a {
                text-decoration: none;
            }
       }
       &__button {
            flex: none;
            padding: 10px 12px;
            white-space: nowrap;
            background-color: $blue;
            border: 0px;
            transition: all .3s ease;
            border-radius: 4px;
            color: white;
            &:hover {
                background-color: $dark-blue;
            }
       }
    }
    &--hide {
        transform: translate(0px, -100%);
    }
}
.content {
    transition: all .5s ease;
}

@media( max-width : 540px ) {
    .notif__wrapper {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 18px;
        p {
            padding-right: 0;
        }
    }
}