@import '../../styles/color.scss';

.highlights {
    width: 100%;
    padding: 50px 0px;
    padding-bottom: 80px;
    background-color: $smoke-grey;
    &__center {
        max-width: 1366px;
        margin: 0 auto;
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
            font-weight: normal;
            margin-bottom: 4px;
        }
        &__text {
            max-width: 550px;
            p {
                line-height: 1.8;
                white-space: pre-wrap;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 30px;
        max-width: 1500px;
        &__item {
            width: calc(100% / 3);
            padding: 15px;
            &__wrapper {
                height: 100%;
                position: relative;
                border: 1px solid #c2c2c2;
                padding: 24px 20px;
                padding-bottom: 26px;
                svg {
                    position: absolute;
                    top: 18px;
                    right: 18px;
                    font-size: 35px;
                    color: #a8a8a8;
                }
                &__title {
                    font-size: 23px;
                    margin-bottom: 10px;
                    
                }
                &__text {
                    line-height: 1.6;
                }
            }
        }
    }
}

@media( max-width : 960px ) {
    .highlights {
        padding: 50px 20px;
        &__list {
            &__item {
                width: calc(100% / 2);
            }
        }
    }
}

@media( max-width : 480px ) {
    .highlights {
        &__list {
            &__item {
                width: 100%;
                padding: 15px 0;
            }
        }
    }
}