@import '../../styles/color.scss';

.newsletter {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    max-width: 640px;
    background-color: $blue;
    opacity: .95;
    transition: all .5s ease;
    transform: translate(0px, 100%);
    &--show {
        transform: translate(0px, 0px);
    }
    &__wrapper {
        position: relative;
        padding: 20px 24px;
        color: white;
        &__close {
            position: absolute;
            top: 6px;
            right: 6px;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0px;
            background-color: transparent;
            color: white;
        }
        h1 {
            font-size: 24px;
        }
        &__form {
            display: flex;
            width: 100%;
            margin-top: 24px;
            margin-bottom: 10px;
            input {
                flex: 1;
                padding: 8px;
                border: 0px;
            }
            button {
                flex: none;
                transition: all .3s ease;
                margin-left: 10px;
                background-color: $orange;
                border: 0px;
                color: white;
                padding: 8px 12px;
                &:hover {
                    background-color: $dark-orange;
                }
            }
        }
    }
}

@media( max-width : 540px ) {
    .newsletter__wrapper__form {
        flex-direction: column;
        button {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}