@import '../../styles/color.scss';
.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url('../../images/hero-bg.jpg') no-repeat center center; 
    background-size: cover;
    &::after {
        position: absolute; content: '';
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $blue;
        mix-blend-mode: multiply
    }
    &__center {
        position: relative;
        max-width: 1366px;
        margin: 0 auto;
        &__logo {
            position: absolute;
            z-index: 3;
            width: 50px;
            top: 20px;
            left: 30px;
        }
    }
    &__wrapper {
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100%;
        // max-width: 1366px;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        text-align: center;
        h1 {
            font-size: 40px;
            font-weight: normal;
            margin: 6px 0;
        }
        h2 {
            font-size: 28px;
            margin: 6px 0;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            margin: 5px 0;
        }
        button {
            transition: all .3s ease;
            margin-top: 36px;
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            padding: 14px 28px;
            background-color: transparent;
            border: 2px solid white;
            &:hover {
                background-color: white;
                color: $blue;
            }
        }
    }
}